html {
  border: 1px solid #ccc;
  font-family: Merriweather, serif;
}

th, td {
  border: 1px solid #ccc;
}

td {
  height: 10em;
}

.three {
  background-color: #f2f2f2;
  color: #333;
  border: solid 1px #666;
  border-radius: 8px;
}

.remember {
  background-color: #f2bcbc;
  color: #991919;
  border: solid 1px #b92828;
  border-radius: 8px;
}

.kosmos {
  background-color: #f2f2f2;
  color: #333;
  border: solid 1px #666;
  border-radius: 8px;
}

.surtsey {
  background-color: #d1e0bf;
  color: #51603f;
  border: solid 1px #6b7e54;
  border-radius: 8px;
}

.robert {
  background-color: #d1e0bf;
  color: #51603f;
  border: solid 1px #6b7e54;
  border-radius: 8px;
}

.twentyone {
  background-color: #f2f2f2;
  color: #333;
  border: solid 1px #666;
  border-radius: 8px;
}

.twentytwo {
  background-color: #d2d6f0;
  color: #38448e;
  border: solid 1px #1d38da;
  border-radius: 8px;
}

.twentythree {
  background-color: #d2d6f0;
  color: #333;
  border: solid 1px #1d38da;
  border-radius: 8px;
}

.twentysix {
  background-color: #f2f2f2;
  color: #333;
  border: solid 1px #666;
  border-radius: 8px;
}
